<article class="c-share u-margin-bottom-large">
  <header class="u-margin-bottom-small"><strong class="u-h4 u-color-gray-dark">به اشتراک بگذارید در:</strong></header>
  <main>
    <ul class="o-list-inline">
      <li class="o-list-inline__item"><a href="https://twitter.com/home?status={{ post.title }} {{ site.url }}{{ post.url }}" class="o-list-inline__link">توییتر</a></li>
      <li class="o-list-inline__item"><a href="https://www.facebook.com/sharer/sharer.php?u={{ post.title }} {{ site.url }}{{ post.url }}" class="o-list-inline__link">فیسبوک</a></li>
      <li class="o-list-inline__item"><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ post.url }}&title={{ post.title }}&summary=" class="o-list-inline__link">لینکدین</a></li>
      <li class="o-list-inline__item"><a href="https://plus.google.com/share?url={{ post.title }} {{ site.url }}{{ post.url }}" class="o-list-inline__link">گوگل پلاس</a></li>
    

    </ul>
  </main>
</article>