<head>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Naser Hassani">
    <meta name="description" content="تِهران جِی اِس، دورهمی‌های دو هفته یک باری است که در آن درباره‌ی مفاهیم نرم افزار و روش‌های توسعه‌ی آن با جاوااسکریپت صحبت می‌کنیم.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} | {{ site.title }} {% else %}{{ site.title }}{% endif %}</title>

    <!-- <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"> -->
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <!-- <link rel="manifest" href="/manifest.json"> -->
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#2c7bc5">
    <meta name="apple-mobile-web-app-title" content="TehranJS">
    <meta name="application-name" content="TehranJS">
    <meta name="theme-color" content="#2c7bc5">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@tehranjs" />
    <meta property="og:url" content="https://tehranjs.com" />
    <meta property="og:title" content="وب سایت تِهران جِی اِس" />
    <meta property="og:description" content="تِهران جِی اِس، دورهمی‌های دو هفته یک باری است که در آن درباره‌ی مفاهیم نرم افزار و روش‌های توسعه‌ی آن با جاوااسکریپت صحبت می‌کنیم." />
    <!-- <meta property="og:image" content="https://tehranjs.net/apple-touch-icon.png" /> -->

    <!-- build:css styles/tehranjs.css -->
    <link rel="stylesheet" href="{{ 'styles/tehranjs.css' | relative_url }}">
    <!-- endbuild -->

    <script src="{{ 'javascript/tehranjs.js' | relative_url }}" type="text/javascript" charset="utf-8"></script>

</head>
